/* CSS RESETS  */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #f5f5f5;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* container */
.container {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

/* HEADER */
.logo {
  height: 75px;
  width: auto;
}

.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

header .container {
  border-bottom: 2px solid #c6c6c6;
  padding: 10px 15px;
}

/* contents */

.posts-section {
  display: flex;
  flex-direction: column;
}

.profile-details {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.profile-details .user-avatar {
  margin-right: 12px;
}

.post-img {
  width: 100%;
}

.bold {
  font-weight: 700;
  font-size: 1.08rem;
}

.interact-section {
  padding: 20px 15px;
}

.icons {
  width: 35px;
  margin-right: 12px;
  transition:
    color 0.3s ease,
    transform 0.1s ease;
}

.icons:hover,
.icons:active {
  transform: scale(1.1);
}

.interact-section p {
  margin: 5px;
}

.location {
  display: block;
}
